PORT=4000
MONGO_URI=mongodb+srv://mfarhankhan068:MDKMqLJZ0inz9fv7@cluster0.ttfk3ui.mongodb.net/cimprints?retryWrites=true&w=majority
MONGO_URI_DIRECT=mongodb://mfarhankhan068:MDKMqLJZ0inz9fv7@ac-gbmkdzj-shard-00-00.ttfk3ui.mongodb.net:27017,ac-gbmkdzj-shard-00-01.ttfk3ui.mongodb.net:27017,ac-gbmkdzj-shard-00-02.ttfk3ui.mongodb.net:27017/cimprints?ssl=true&replicaSet=atlas-oo6tw9-shard-0Source=admin&retryWrites=true&w=majority
FRONTEND_ORIGIN=https://cimprints.com
FRONTEND_ORIGINS=https://cimprints.com,https://www.cimprints.com
